.clients__title {
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: center;
}

.clients__item {
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  & + & {
    margin-left: 30px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  height: 92px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}

.clients__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
