.features__list {
  display: flex;
  margin-left: -30px;
}

.features__item {
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
}

.features__icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-light-background-color);
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--primary-dark-text-color);
}

.features__item-text {
  font-size: 14px;
  line-height: 1.71;
}
