.footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer__info {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer__center {
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-left: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-bottom: 0x;
  }
}

.footer__social-list-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-light-text-color);
  margin-bottom: 20px;
}

.footer__social-link {
  background-color: var(--footer-social-icon-bg-color);
}

.footer__social-icon {
  fill: var(--primary-light-text-color);
}

.footer__right {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.footer__subscribe-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-light-text-color);
  margin-bottom: 20px;
}

.footer__wraper-for-tablet {
  @media screen and (max-width: 1200px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}
