.header {
  background-color: var(--primary-light-background-color);
  border-bottom: 1px solid var(--header-line-boder-color);
}

.header__container {
  // position: relative;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  // width: 100%;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.header_not-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
