.portfolio__filter-buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__filter-buttons-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__filter-button {
  @include font(null, 16px, 500, 1.62, null, var(--primary-dark-text-color));
  background-color: var(--secondary-light-background-color);
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--primary-light-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio__filter-button_active {
  color: var(--primary-light-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.portfolio__item {
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.portfolio__link {
  display: block;
  color: var(--primary-text-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__img-wraper {
  position: relative;
  overflow-y: hidden;
}

.portfolio__item-overlay-text {
  position: absolute;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-light-text-color);
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  bottom: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0);
  }
}

.portfolio__item-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid var(--card-border-color);
  border-top: 0;
}

.portfolio__item-title {
  @include font(null, 18px, 700, 2, 0.06em, var(--primary-dark-text-color));
  margin-bottom: 4px;
}

.portfolio__item-text {
  font-size: 16px;
  line-height: 1.87;
}
