.services {
  padding-bottom: 94px;
}

.services__title {
  margin-bottom: 50px;
}

.services__list {
  display: flex;
  margin-left: -30px;
}

.services__item {
  margin-left: 30px;
  flex-basis: calc(100% / 3 -30px);
}

.services__item-wraper {
  position: relative;
}

.services__subtitle {
  position: absolute;
  bottom: 0;
  @include font(null, 14px, 700, 1.14, null, var(--primary-light-text-color));
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
}
