.team {
  background-color: var(--secondary-light-background-color);
}

.team__title {
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  margin-left: -30px;
}

.team__item {
  background: var(--primary-light-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-left: 30px;
  flex-basis: calc(100% / 4 -30px);
}

.team__item-content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team__subtitle {
  @include font(null, 16px, 500, 1.19, null, var(--primary-dark-text-color));
  text-align: center;
  margin-bottom: 10px;
}

.team__item-text {
  @include font(null, 16px, null, 1.19, null, null);
  text-align: center;
  margin-bottom: 16px;
}
