.contacts-list {
  margin-bottom: 64px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contacts-list__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (max-width: 479px) {
    @include font(
      null,
      5vw,
      500,
      calc(28 / 24),
      0.02em,
      var(--primary-text-color)
    );
  }

  @media screen and (min-width: 480px) {
    @include font(
      null,
      24px,
      500,
      calc(28 / 24),
      0.02em,
      var(--primary-text-color)
    );
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

    @include font(
      null,
      12px,
      500,
      calc(14 / 12),
      0.02em,
      var(--primary-text-color)
    );
  }

  @media screen and (min-width: 1200px) {
    @include font(null, 14px, null, calc(16 / 14), null, null);
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact-list__link_mob-menu_tel {
  @media screen and (max-width: 479px) {
    @include font(null, 7vw, 500, calc(40 / 34), 0.02em, var(--accent-color));
  }

  @media screen and (min-width: 480px) {
    @include font(null, 34px, 500, calc(40 / 34), 0.02em, var(--accent-color));
  }

  @media screen and (min-width: 768px) {
    @include font(
      null,
      12px,
      500,
      calc(14 / 12),
      0.02em,
      var(--primary-text-color)
    );
  }

  @media screen and (min-width: 1200px) {
    @include font(null, 14px, null, calc(16 / 14), null, null);
  }
}

.contacts-list__icon {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-right: 8px;
    fill: currentColor;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.contacts-list__icon_envelope {
  @media screen and (min-width: 768px) {
    width: 14px;
    height: 10px;
  }

  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.contacts-list__icon_phone {
  @media screen and (min-width: 768px) {
    width: 10px;
    height: 14px;
  }

  @media screen and (min-width: 1200px) {
    height: 16px;
  }
}
