body {
  background-color: var(--primary-light-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  /* color: inherit; */
}

.list {
  list-style-type: none;
}
